<h1>{{ isEditMode ? 'Editar Cine' : 'Formulario de Cines' }}</h1>
<form [formGroup]="screeningForm" (ngSubmit)="onSubmit()">

    <!-- Campo Nombre -->
    <div class="form-group">
        <label for="  screeningTime">Fecha:</label>
        <input
          id="  screeningTime"
          type="text"
          formControlName="screeningTime"
          placeholder="Ingresa la fecha de proyeccion"
          class="form-control"
        />
        <!-- Mensajes de validación -->
        <div *ngIf="  screeningForm.get('screeningTime')?.invalid &&   screeningForm.get('screeningTime')?.touched" class="error-message">
          <small *ngIf="  screeningForm.get('screeningTime')?.errors?.['required']">
            El nombre es requerido.
          </small>
          <small *ngIf="  screeningForm.get('screeningTime')?.errors?.['minlength']">
            El nombre debe tener al menos 3 caracteres.
          </small>
        </div>
    </div>

    <div class="form-group">
      <label for="roomId">Sala</label>
      <select 
        id="roomId" 
        formControlName="roomId" 
        class="form-control"
      >
        <option value="">Seleccione una sala</option>
        <option *ngFor="let room of rooms" [value]="room.id">
          {{ room.name }}
        </option>
      </select>
    
      <div 
        *ngIf="screeningForm.get('roomId')?.invalid && screeningForm.get('roomId')?.touched" 
        class="error-message"
      >
        <small *ngIf="screeningForm.get('roomId')?.errors?.['required']">
          la sala  es requerido
        </small>
      </div>
    </div>
    
    <div class="form-group">
      <label for="movieId">Titulo de la Peilicula</label>
      <select 
        id="movieId" 
        formControlName="movieId" 
        class="form-control"
      >
        <option value="">Seleccione una Pelicula</option>
        <option *ngFor="let movie of movies" [value]="movie.id">
          {{ movie.title }}
        </option>
      </select>
    
      <div 
        *ngIf="screeningForm.get('movieId')?.invalid && screeningForm.get('movieId')?.touched" 
        class="error-message"
      >
        <small *ngIf="screeningForm.get('movieId')?.errors?.['required']">
          El cine es requerido
        </small>
      </div>
    </div>

   

    <!-- Botón de envío -->
    <button type="submit" [disabled]="screeningForm.invalid" class="submit-btn">
        {{ isEditMode ? 'Actualizar Cine' : 'Guardar Cine' }}
    </button>
    
    <!-- Botón para cancelar/volver -->
     <a routerLink="/dashboard/screening" class="cancel-btn">
        Volver
    </a>
    
</form>