<div class="flex flex-wrap -mx-3 mb-5">
  <div class="w-full max-w-full px-3 mb-6 mx-auto">
    <div
      class="relative flex-[1_auto] flex flex-col break-words min-w-0 bg-clip-border rounded-[.95rem] bg-white m-5"
    >
      <div
        class="relative flex flex-col min-w-0 break-words border border-dashed bg-clip-border rounded-2xl border-stone-200 bg-gray-100/30"
      >
        <!-- card header -->
        <div
          class="px-9 pt-5 flex justify-between items-stretch flex-wrap min-h-[70px] pb-0 bg-transparent"
        >
          <h3
            class="flex flex-col items-start justify-center m-2 ml-0 font-medium text-xl/tight text-dark"
          >
            <span class="mr-3 font-semibold text-dark"
              >Salas Disponibles</span
            >
          </h3>
          <div class="relative flex flex-wrap items-center my-2">
            <a
              routerLink="/dashboard/crear-salas"
              class="inline-block text-[.925rem] font-medium leading-normal text-center align-middle cursor-pointer rounded-2xl transition-colors duration-150 ease-in-out text-white bg-gray-800 shadow-none border-0 py-2 px-5 hover:bg-gray-700"
            >
              Crear Sala
            </a>
          </div>
        </div>
        <!-- end card header -->

        <!-- card body -->
        <div class="flex-auto block py-8 pt-6 px-9">
          @if (isLoading) {
          <div class="flex justify-center items-center h-64">
            <div
              class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-gray-900"
            ></div>
          </div>
          } @else {
          <div class="overflow-x-auto">
            <table
              class="w-full my-0 align-middle text-dark border-neutral-200"
            >
              <thead class="align-bottom">
                <tr class="font-semibold text-[0.95rem] text-gray-700">
                  <th class="pb-3 text-start min-w-[120px]">Nombre</th>
                  <th class="pb-3 text-start min-w-[120px]">Capacidad</th>
                  <th class="pb-3 text-start min-w-[200px]">
                    cine Relacionado
                  </th>
                  <th class="pb-3 text-end min-w-[120px]">Acciones</th>
                </tr>
              </thead>
              <tbody>
                @for (room of rooms; track room.id) {
                <tr
                  class="border-b border-dashed border-gray-200 hover:bg-gray-50"
                >
                  <!-- Columna Imagen -->

                  <!-- Columna Nombre -->
                  <td class="p-3">
                    <span
                      class="font-semibold text-gray-800 text-md/normal block"
                    >
                      {{ room.name || "Sin Nombre" }}
                    </span>
                  </td>

                  <!-- Columna Ubicación -->
                  <td class="p-3">
                    <span class="text-gray-600 text-md/normal block">
                      {{ room.capacity || "Capacidad No Disponibles" }}
                    </span>
                  </td>
                  <th class="p-3">
                    <span class="text-gray-600 text-md/normal block">
                      {{ room.cinemaId || "cine no especificado " }}
                    </span>
                  </th>

                  <!-- Columna Acciones -->
                  <td class="p-3 text-end">
                    <div class="flex justify-end space-x-2">
                      <a
                        [routerLink]="['/dashboard/editar-salas', room.id]"
                        class="relative text-gray-600 hover:text-blue-600 flex items-center justify-center h-9 w-9 text-base font-medium leading-normal rounded-lg transition-colors duration-200 ease-in-out hover:bg-blue-50"
                        title="Editar"
                      >
                        <i class="ri-edit-2-line"></i>
                      </a>
                      <button
                        (click)="deleteRooms(room.id)"
                        class="relative text-gray-600 hover:text-red-600 flex items-center justify-center h-9 w-9 text-base font-medium leading-normal rounded-lg transition-colors duration-200 ease-in-out hover:bg-red-50"
                        title="Eliminar"
                      >
                        <i class="ri-delete-bin-2-line"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                } @empty {
                <tr>
                  <td colspan="5" class="text-center py-8 text-gray-500">
                    <div class="flex flex-col items-center justify-center">
                      <i class="ri-film-line text-4xl text-gray-300 mb-2"></i>
                      No hay salas Disponibles...
                    </div>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
